.icn__home {
  background-image: url("../../images/icon/icon-01.png");
}

.icn__person {
  background-image: url("../../images/icon/icon-02.png");
}

.icn__time {
  background-image: url("../../images/icon/icon-03.png");
}

.icn__calculator {
  background-image: url("../../images/icon/icon-06.png");
}
/*# sourceMappingURL=icon.css.map */