.dropDown {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 0;
  position: relative;
}

.dropDown .dropDown__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding: 0 26px 0 10px;
  border-radius: 4px;
  border: 1px solid #c8c8c8;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}

.dropDown .dropDown__select span {
  display: block;
  width: 100% !important;
  margin: 0 !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dropDown .dropDown__select i {
  width: 16px !important;
  height: 16px !important;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
}

.dropDown .dropDown__select i svg polygon {
  fill: #108fe0 !important;
}

.dropDown .dropDown__menu {
  width: 100%;
  -webkit-box-shadow: 0 0 18px 0 rgba(25, 25, 25, 0.2);
          box-shadow: 0 0 18px 0 rgba(25, 25, 25, 0.2);
  position: absolute;
  left: 0;
  top: 40px;
  overflow: hidden;
  border-radius: 6px;
  z-index: 99;
  background-color: #fff;
}

.dropDown .dropDown__menu .dropDown__content {
  max-height: 90px;
  width: 100%;
}

.dropDown .dropDown__menu .dropDown__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  cursor: pointer;
  color: #c8c8c8;
}

.dropDown .dropDown__menu .dropDown__li:hover {
  color: #fe8c08;
}

.dropDown .dropDown__menu .dropDown__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  color: #c8c8c8;
}

.dropDown .dropDown__menu .dropDown__checkbox.dropDown__checkbox_default {
  position: relative;
}

.dropDown .dropDown__menu .dropDown__checkbox.dropDown__checkbox_default:after {
  content: '';
  display: block;
  width: calc(100% - 20px);
  height: 1px;
  background-color: #666;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.dropDown .dropDown__menu .dropDown__checkbox input[type="checkbox"] {
  display: none;
}

.dropDown .dropDown__menu .dropDown__checkbox input[type="checkbox"]:checked + .checkbox:after {
  display: block;
}

.dropDown .dropDown__menu .dropDown__checkbox .checkbox {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #666;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}

.dropDown .dropDown__menu .dropDown__checkbox .checkbox:after {
  content: "";
  display: none;
  width: 12px;
  height: 12px;
  background-color: #fe8c08;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}

.dropDown .dropDown__menu .dropDown__checkbox span {
  color: #c8c8c8;
}

.dropDown:nth-child(1) {
  margin-right: 5px;
}

.dropDown:nth-child(2) {
  margin-left: 5px;
}

a {
  cursor: pointer;
}

.scrollbar-macosx > .scroll-element .scroll-bar {
  background-color: #fe8c08;
}

.popupWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.popupWrap .popup {
  border: 10px solid #d6d6d6;
  border-radius: 15px;
  background-color: #fff;
}

.popupWrap .popup .popup__title {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popupWrap .popup .popup__title .popup__functionBtn {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  background-color: #fe8c08;
  border-radius: 50%;
  color: #fff;
  margin: 0 10px;
}

.popupWrap .popup .popup__title .popup__functionBtn:hover {
  opacity: 0.7;
}

.popupWrap .popup .popup__content {
  padding: 20px;
}

.popupWrap .popup .popup__content .popup__calculator {
  width: 500px;
  height: 200px;
  border-radius: 6px;
  border: 1px solid #c8c8c8;
}

.popupWrap .popup .popup__content .popup__calculator .popup__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 0 10px;
}

.popupWrap .popup .popup__content .popup__calculator .popup__item .popup__item-number {
  width: 30px;
}

.popupWrap .popup .popup__content .popup__calculator .popup__item .popup__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.popupWrap .popup .popup__content .popup__calculator .popup__item .popup__item-content .dropDown__select {
  border: none;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 0;
}

.popupWrap .popup .popup__content .popup__calculator .popup__item .popup__item-btn {
  width: 20px;
  height: 20px;
}

.popupWrap .popup .popup__content .popup__calculator .popup__item .popup__item-btn svg {
  width: 100%;
  height: 100%;
}

.popupWrap .popup .popup__content .popup__calculator .popup__item .popup__item-btn svg path {
  stroke: red;
  stroke-linecap: round;
}

.popupWrap .popup .popup__bottom {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popupWrap .popup .popup__bottom .popup__btn {
  border: 1px solid #fe8c08;
  padding: 10px 15px;
  border-radius: 4px;
  margin: 0 10px;
}

.popupWrap .popup .popup__bottom .popup__btn.popup__btn_confrim {
  background-color: #fe8c08;
  color: #fff;
}

.popupWrap .popup .popup__bottom .popup__btn.popup__btn_cancel {
  color: #fe8c08;
}

.popupWrap .popup .popup__bottom .popup__btn:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=popup.css.map */