@charset "UTF-8";
html,
body {
  width: 100%;
  font-family: "微軟正黑體";
  min-width: 1150px;
}

a {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input:focus {
  outline: 0;
}

.scrollbar-macosx > .scroll-element .scroll-bar {
  background-color: #fe8c08;
}

.wrap {
  width: 100%;
}

.wrap .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: #fe8c08;
  -webkit-box-shadow: 0 0 18px 0 rgba(25, 25, 25, 0.2);
          box-shadow: 0 0 18px 0 rgba(25, 25, 25, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
  z-index: 999;
}

.wrap .header .header__states {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.wrap .header .header__states-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.wrap .header .header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #fff;
}

.wrap .header .dropDown .dropDown__select {
  background-color: #ffffff00;
  border: none;
  color: #fff;
  padding: 0 10px;
}

.wrap .header .dropDown .dropDown__select span {
  width: auto !important;
}

.wrap .header .dropDown .dropDown__select i {
  margin-left: 10px;
  position: relative;
}

.wrap .header .dropDown .dropDown__select i svg polygon {
  fill: #fff !important;
}

.wrap .main {
  margin-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}

.wrap .main .main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}

.wrap .main .main__header .main__header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: 600;
  color: #fe8c08;
}

.wrap .main .main__header .main__header-btnContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.wrap .main .main__header .main__header-btnContain .main__header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: 30px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #108fe0;
  color: #fff;
  margin-left: 10px;
}

.wrap .main .main__header .main__header-btnContain .main__header-btn:hover {
  background-color: rgba(16, 143, 224, 0.7);
}

.wrap .main .main__body .table {
  width: 100%;
}

.wrap .main .main__body .table .table__header {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  border-radius: 6px;
  background-color: #108fe0;
}

.wrap .main .main__body .table .table__header .table__header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position: relative;
  color: #fff;
}

.wrap .main .main__body .table .table__header .table__header-item:nth-child(1) {
  width: 50px;
}

.wrap .main .main__body .table .table__header .table__header-item:nth-child(2) {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.wrap .main .main__body .table .table__header .table__header-item:nth-child(5) {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
}

.wrap .main .main__body .table .table__header .table__header-item:nth-child(3), .wrap .main .main__body .table .table__header .table__header-item:nth-child(4) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrap .main .main__body .table .table__header .table__header-item:nth-child(6) {
  width: 100px;
}

.wrap .main .main__body .table .table__header .table__header-item::after {
  content: "";
  display: block;
  width: 1px;
  height: 80%;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.wrap .main .main__body .table .table__header .table__header-item:last-child::after {
  display: none;
}

.wrap .main .main__body .table .table__body {
  width: 100%;
}

.wrap .main .main__body .table .table__body .table__body-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  min-width: 100%;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #c8c8c8;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 0;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item:nth-child(1) {
  width: 50px;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item:nth-child(2) {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item:nth-child(5) {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item:nth-child(3), .wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item:nth-child(4) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item:nth-child(6) {
  width: 100px;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% - 30px);
  position: relative;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content > input {
  width: 100%;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  padding: 0 10px;
  margin: 0;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content .table__body-content-symbol {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 20px;
  min-height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content .table__body-content-symbol.table__body-content-symbol_orange {
  background-color: #fe8c08;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content .table__body-content-symbol.table__body-content-symbol_blue {
  background-color: #108fe0;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content .table__body-content-symbol.table__body-content-symbol_green {
  background-color: #19b35f;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content .table__body-content-title {
  display: none;
  min-width: 65px;
  margin-right: 10px;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content.table__body-content_match {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  padding: 0 10px;
  margin: 0;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content.table__body-content_match .table__body-content-symbol,
.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content.table__body-content_match .table__body-content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content.table__body-content_match .table__body-content-title {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content.table__body-content_match > input {
  border: none;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content .table__body-content-date[type="date"]::-webkit-inner-spin-button {
  display: none;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content .table__body-content-range {
  margin: 0 10px;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content .table__body-content-radio {
  min-width: 60px;
  margin-left: 10px;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content .table__body-content-radio div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
  color: #fe8c08;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content .table__body-content-radio label {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #c8c8c8;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content .table__body-content-radio label::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content .table__body-content-radio input {
  display: none;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content .table__body-content-radio input:checked + label::after {
  background-color: #fe8c08;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content .table__body-content-run {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 30px;
  border-radius: 4px;
  background-color: #fe8c08;
  color: #fff;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content .table__body-content-run:hover {
  background-color: rgba(254, 140, 8, 0.7);
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content .table__body-content-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(50% - 50px);
  margin: auto;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-container .table__body-item .table__body-content .table__body-content-toggle:hover {
  opacity: 0.7;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust {
  width: 100%;
  height: auto;
  background-color: rgba(254, 140, 8, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #c8c8c8;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  height: 60px;
  position: relative;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 100%;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item:nth-child(1) {
  width: 50px;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item:nth-child(3) {
  width: 100px;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  width: 0;
  padding: 0 10px;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-li:nth-child(1) {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-li:nth-child(2) {
  -webkit-box-flex: 1.1;
      -ms-flex: 1.1;
          flex: 1.1;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-li:nth-child(3) {
  min-width: 50px;
  max-width: 50px;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-li:nth-child(4) {
  -webkit-box-flex: 1.1;
      -ms-flex: 1.1;
          flex: 1.1;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-li span {
  color: #c8c8c8;
  font-size: 14px;
  white-space: nowrap;
  margin-right: 10px;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-li .table__body-cust-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-li .table__body-cust-content .table__body-cust-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative;
  margin: 0 5px;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-li .table__body-cust-content .table__body-cust-input:nth-child(1) {
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-li .table__body-cust-content .table__body-cust-input:nth-child(2) {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-li .table__body-cust-content input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 0;
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #c8c8c8;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-li .table__body-cust-content i {
  display: block;
  width: 20px;
  height: 20px;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-li .table__body-cust-content i svg polygon {
  fill: #c8c8c8;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-li .table__body-cust-content a {
  margin-left: 5px;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-li .table__body-cust-content a:hover {
  opacity: .7;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-add {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #fe8c08;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-add:hover {
  background-color: rgba(254, 140, 8, 0.7);
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-add svg {
  width: 100%;
  height: 100%;
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 1px;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 30px;
  border-radius: 4px;
  background-color: #fe8c08;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-btn:hover {
  background-color: rgba(254, 140, 8, 0.7);
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-delAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 20px;
  height: 20px;
  margin: 0 4px;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-delAll i {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../../images/icon/icon-04.png);
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-delAll:hover {
  opacity: 0.7;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-del {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-del:hover {
  opacity: 0.7;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-del svg {
  width: 100%;
  height: 100%;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust-row .table__body-cust-item .table__body-cust-del svg path {
  stroke: #fe8c08;
  fill: none;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust_addNewGroup {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fe8c08;
  width: 120px;
  height: 40px;
  border-radius: 6px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust_addNewGroup i {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  display: block;
  background-image: url(../../images/icon/icon-05.png);
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust_addNewGroup:hover {
  opacity: 0.7;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust_item {
  width: 100px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust_item .table__body-cust-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 30px;
  border-radius: 4px;
  background-color: #fe8c08;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.wrap .main .main__body .table .table__body .table__body-row .table__body-cust .table__body-cust_item .table__body-cust-btn:hover {
  background-color: rgba(254, 140, 8, 0.7);
}

.match {
  display: none;
  width: 100%;
  -webkit-box-shadow: 0 0 18px 0 rgba(25, 25, 25, 0.2);
          box-shadow: 0 0 18px 0 rgba(25, 25, 25, 0.2);
  position: absolute;
  left: 0;
  top: 40px;
  overflow: hidden;
  border-radius: 6px;
  z-index: 99;
  background-color: #fff;
}

.match .match_addItem {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
  z-index: 9;
  position: relative;
}

.match .match_addItem input {
  height: 30px !important;
  padding: 0 30px 0 10px !important;
}

.match .match_addItem a {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
}

.match .match_addItem a svg {
  width: 100%;
  height: 100%;
}

.match .match_addItem a svg path {
  stroke: #fe8c08;
}

.match .match__container {
  max-height: 90px;
  width: 100%;
}

.match .match__container .match__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  cursor: pointer;
}

.match .match__container .match__item .match__item-symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
}

.match .match__container .match__item .match__item-symbol.match__item-symbol_orange {
  background-color: #fe8c08;
}

.match .match__container .match__item .match__item-symbol.match__item-symbol_blue {
  background-color: #108fe0;
}

.match .match__container .match__item .match__item-symbol.match__item-symbol_green {
  background-color: #19b35f;
}

.match .match__container .match__item .match__item-title {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 65px;
  margin-right: 10px;
}

.match .match__container .match__item .match__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.match .match__container .match__item .match__item-content span {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.match .match__container .match__item:hover .match__item-content {
  color: #fe8c08;
}

.match .match__container .match__item:hover .match__item-content span {
  color: #fe8c08 !important;
}

.match.match_visible {
  display: block;
}

.triangle {
  width: 100%;
  height: 100%;
}

.triangle polygon {
  fill: #108fe0;
  stroke-width: 0;
}

.triangle.triangle_up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.triangle.triangle_right {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.dropDown {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 0;
  position: relative;
}

.dropDown .dropDown__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding: 0 26px 0 10px;
  border-radius: 4px;
  border: 1px solid #c8c8c8;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}

.dropDown .dropDown__select span {
  display: block;
  width: 100% !important;
  margin: 0 !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dropDown .dropDown__select i {
  width: 16px !important;
  height: 16px !important;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
}

.dropDown .dropDown__select i svg polygon {
  fill: #108fe0 !important;
}

.dropDown .dropDown__menu {
  width: 100%;
  -webkit-box-shadow: 0 0 18px 0 rgba(25, 25, 25, 0.2);
          box-shadow: 0 0 18px 0 rgba(25, 25, 25, 0.2);
  position: absolute;
  left: 0;
  top: 40px;
  overflow: hidden;
  border-radius: 6px;
  z-index: 99;
  background-color: #fff;
}

.dropDown .dropDown__menu .dropDown__content {
  max-height: 90px;
  width: 100%;
}

.dropDown .dropDown__menu .dropDown__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  cursor: pointer;
  color: #c8c8c8;
}

.dropDown .dropDown__menu .dropDown__li:hover {
  color: #fe8c08;
}

.dropDown .dropDown__menu .dropDown__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  color: #c8c8c8;
}

.dropDown .dropDown__menu .dropDown__checkbox.dropDown__checkbox_default {
  position: relative;
}

.dropDown .dropDown__menu .dropDown__checkbox.dropDown__checkbox_default:after {
  content: '';
  display: block;
  width: calc(100% - 20px);
  height: 1px;
  background-color: #666;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.dropDown .dropDown__menu .dropDown__checkbox input[type="checkbox"] {
  display: none;
}

.dropDown .dropDown__menu .dropDown__checkbox input[type="checkbox"]:checked + .checkbox:after {
  display: block;
}

.dropDown .dropDown__menu .dropDown__checkbox .checkbox {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #666;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}

.dropDown .dropDown__menu .dropDown__checkbox .checkbox:after {
  content: "";
  display: none;
  width: 12px;
  height: 12px;
  background-color: #fe8c08;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}

.dropDown .dropDown__menu .dropDown__checkbox span {
  color: #c8c8c8;
}

.dropDown:nth-child(1) {
  margin-right: 5px;
}

.dropDown:nth-child(2) {
  margin-left: 5px;
}
/*# sourceMappingURL=table.css.map */